%h2 Balance de horas

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Pescador
      %th Ingreso
      %th Egreso
      %th Balance
  %tfoot
    - @balances_resumen.each do |fila|
      %tr
        %th TOTAL
        %th= Money.thousands_separator fila.ingreso
        %th= Money.thousands_separator fila.egreso
        %th= Money.thousands_separator fila.cantidad
  %tbody
    - @balances.each do |fila|
      %tr
        %td= fila.nombre
        %td= Money.thousands_separator fila.ingreso
        %td= Money.thousands_separator fila.egreso
        %td= Money.thousands_separator fila.cantidad
