-# encoding: utf-8
.jumbotron
  %h1 Pescatemps

.tabbable
  %ul#pestanias.nav.nav-tabs
    %li.active{ role: 'presentation' }
      = link_to 'Balance', '#balance', {'data-toggle'=>'tab', 'role' => 'tab', 'aria-controls' => 'balance'}
    %li{ role: 'presentation' }
      = link_to 'Transferencia', '#transferencia', {'data-toggle'=>'tab', 'role' => 'tab', 'aria-controls' => 'transferencia'}
    %li{ role: 'presentation' }
      = link_to 'Historial', '#movimientos', {'data-toggle'=>'tab', 'role' => 'tab', 'aria-controls' => 'movimientos'}

  .tab-content
    #balance.tab-pane.active{ role: 'tabpanel' }
      = partial 'dinero/balance'
    #transferencia.tab-pane{ role: 'tabpanel' }
      = partial 'dinero/transferencia'
    #movimientos.tab-pane{ role: 'tabpanel' }
      = partial 'dinero/movimientos'

%script{'src' => 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'}
%script{'src' => 'javascripts/bootstrap.min.js'}
:javascript
  $('#pestanias a').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
  });

  // store the currently selected tab in the hash value
  $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
    var id = $(e.target).attr("href").substr(1);
    window.location.hash = id;
  });

  // on load of the page: switch to the currently selected tab
  var hash = window.location.hash;
  $('#pestanias a[href="' + hash + '"]').tab('show');
