-# encoding: utf-8
.jumbotron
  .row
    .col-md-8
      %h1 Pescatemps

    .col-md-4
      - if @balances_resumen.size == 1
        %h2= @balances_resumen.first.dinero.format
      - else
        %h2 Tenemos
        %ul.list-inline
          - @balances_resumen.each do |total|
            - next if total.cantidad == 0
            %li= total.dinero.format

.tabbable
  %ul.nav.nav-tabs
    %li.active{ role: 'presentation' }
      = link_to 'Balance', '#balance', {'data-toggle'=>'tab', 'role' => 'tab', 'aria-controls' => 'balance'}
    %li{ role: 'presentation' }
      = link_to 'Movimientos', '#movimientos', {'data-toggle'=>'tab', 'role' => 'tab', 'aria-controls' => 'movimientos'}
    %li{ role: 'presentation' }
      = link_to 'Transferencia', '#transferencia', {'data-toggle'=>'tab', 'role' => 'tab', 'aria-controls' => 'transferencia'}

  .tab-content
    #balance.tab-pane.active{ role: 'tabpanel' }
      = partial 'dinero/balance'
    #movimientos.tab-pane{ role: 'tabpanel' }
      = partial 'dinero/movimientos'
    #transferencia.tab-pane{ role: 'tabpanel' }
      = partial 'dinero/transferencia'

%script{'src' => 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'}
%script{'src' => 'javascripts/bootstrap.min.js'}
